<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>특성별 검색</title>
    <meta property="og:locale" content="ko_KR" />
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favi/favicon-16x16.png">
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">-->

    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../assets/styles/icon.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/style.css">

    <script src="../assets/scripts/jqery-3.5.1.min.js"></script>
    <script src="../assets/scripts/common.js"></script>
    
    
</head>
<style>
    input[type="checkbox"]{
        display: none;
    }
</style>
<body>
    <header id="header"></header>
    
    <div id="main_wrap">
        <div id="main_cnt">
            <div class="side_wrap">
                <div class="side_txt">표준검색</div>
                <div class="side_line"></div>

                <div class="sd_menu_tap_wrap">
                    <a href="con_search.html">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="side_tap_ic2"><div class="icon_b ic_dodbo sd_ic"></div></td>
                                <td height="60px"colspan="2"><div class="side_tap2">조건 검색</div></td>
                            </tr>
                        </table>
                    </a>
                    <a href="char_search.html">
                        <table cellpadding="0" cellspacing="0">
                            <tr class="t_tr">
                                <td width="40px"></td>
                                <td width="100px"></td>
                                <td class="sd_m_rec_b" width="40px"><div class="sd_m_rec_u"></div></td>
                            </tr>
                            <tr>
                                <td class="side_tap_ic"><div class="icon_b ic_rectan_c sd_ic"></div></td>
                                <td height="60px"colspan="2"><div class="side_tap">특성별 검색</div></td>
                                
                            </tr>
                            <tr class="t_tr">
                                <td></td>
                                <td></td>
                                <td class="sd_m_rec_b"><div class="sd_m_rec_d"></div></td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
            <div class="main_char">
                
                <div class="char_fil_wrap">
                    <ul>
                        <li class="char_fil_left">
                            <div class="sec_tit char_fil_tit">지역/국가</div>
                            <table class="fil" cellpadding="0" cellspacing="0">
                                    <td width="300px">
                                        <ul class="sel_2 scroll">
                                            <li>
                                                <label class="ch_wrap" for="l_sel_ch">
                                                    <input type="checkbox" id="l_sel_ch">
                                                    <span>전체선택(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="l_sel_ch1">
                                                    <input type="checkbox" id="l_sel_ch1">
                                                    <span>영국(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="l_sel_ch2">
                                                    <input type="checkbox" id="l_sel_ch2">
                                                    <span>스위스(42)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="l_sel_ch3">
                                                    <input type="checkbox" id="l_sel_ch3">
                                                    <span>독일(12)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="l_sel_ch4">
                                                    <input type="checkbox" id="l_sel_ch4">
                                                    <span>이탈리아(5)</span>
                                                </label>
                                            </li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li class="char_fil_right">
                            <div class="sec_tit char_fil_tit">도메인/서비스</div>
                            <table class="fil" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="300px">
                                        <ul class="sel_2 scroll">
                                            <li>
                                                <label class="ch_wrap" for="c_sel_ch">
                                                    <input type="checkbox" id="c_sel_ch">
                                                    <span>전체선택(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="c_sel_ch1">
                                                    <input type="checkbox" id="c_sel_ch1">
                                                    <span>도메인(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="c_sel_ch2">
                                                    <input type="checkbox" id="c_sel_ch2">
                                                    <span>도메인(42)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="c_sel_ch3">
                                                    <input type="checkbox" id="c_sel_ch3">
                                                    <span>도메인(12)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="c_sel_ch4">
                                                    <input type="checkbox" id="c_sel_ch4">
                                                    <span>도메인(5)</span>
                                                </label>
                                            </li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                        </ul>
                                    </td>
                                    <td width="300px">
                                        <ul class="sel_2 scroll">
                                            <li>
                                                <label class="ch_wrap" for="r_sel_ch">
                                                    <input type="checkbox" id="r_sel_ch">
                                                    <span>전체선택(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="r_sel_ch1">
                                                    <input type="checkbox" id="r_sel_ch1">
                                                    <span>서비스(420)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="r_sel_ch2">
                                                    <input type="checkbox" id="r_sel_ch2">
                                                    <span>서비스(42)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="r_sel_ch3">
                                                    <input type="checkbox" id="r_sel_ch3">
                                                    <span>서비스(12)</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="ch_wrap" for="r_sel_ch4">
                                                    <input type="checkbox" id="r_sel_ch4">
                                                    <span>서비스(5)</span>
                                                </label>
                                            </li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                            <li>-<span></span></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <a href="#a"><div class="result_srch_btn">검색</div></a>
                </div>
                <div class="result_wrap">
                    <div class="result_top">
                        <table class="result_top_tb" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="100px">검색결과</td>
                                <td></td>
                                <td width="300px"><div class="srch_wrap"><input type="text" placeholder="결과 내 재검색" class="sm_search"><a href="#a"><div class="icon_b ic_dodbo_c srch_dod2"></div></a></div></td>
                            </tr>
                        </table>
                    </div>
                    <table cellpadding="0" cellspacing="0" class="result_table">
                        <tr class="r_tb_top">
                            <td width="50px"></td>
                            <td width="450px">표준명</td>
                            <td>표준기구</td>
                            <td>표준번호</td>
                            <td>지역/국가</td>
                            <td>도메인</td>
                            <td>서비스</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        <tr class="r_tb_cnt">
                            <td></td>
                            <td><a href="search_result.html">사이버 보안 위험, 거버넌스 및 관리사양</a></td>
                            <td>company</td>
                            <td>ad12321313</td>
                            <td>asadas</td>
                            <td>보안</td>
                            <td>사이버</td>
                        </tr>
                        
                    </table>
                    <div class="page_num_wrap" border="0">
                        <table class="page_num">
                            <tr>
                                <td><div class="icon_b ic_polx2"></div></td>
                                <td><div class="icon_b ic_pol"></td>
                                <td>1</td>
                                <td><div class="icon_b ic_pol reflect"></td>
                                <td><div class="icon_b ic_polx2 reflect"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        

       
        <header id="footer"></header>
    </div>
    
    
    
    
    
</body>
<script>
    $(function() {
        $(".tryang_show").click(function () {
            $(".char_fil_wrap").toggle();
            $(".tryang_show").toggleClass("reflect_u");
        });
    });
        
    </script>
    <script> 
    $(document).ready(function() { 
        $("input:checkbox").on('click', function() { 
            if ( $(this).prop('checked') ) { 
                $(this).parent('label').addClass("chk_selected"); } 
            else { 
                $(this).parent('label').removeClass("chk_selected"); } 
            }); 
        }); 
    </script>
<script>
    $(document).ready(function(){
        $("#header").load("./include/header.html");
        $("#footer").load("./include/footer.html");
    });
</script>
</html>


