
<style>
    .counsel_pro_wrap{
        padding:20px 15px 10px;
        position: relative;
    }
    .profile_wrap{
        width:100%;
    }
    .profile_img_wrap{
        width:100px;
        height:100px;
    }
    .profile_img{
        width:100px;
        height:100px;
        border-radius:50%;
        background: #fe777c;
    }

    .profile_txt{
        margin-top: 25px;
        width:100%;
        border-top: 2px solid #fe777c;
        border-bottom: 2px solid #fe777c;
        padding: 25px 25px 25px 25px;
    }
    .pt_tit{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .pt_sub{
        font-size: 14px;
    }

    .profile_sel_tb{
        margin-top: 25px;
    }
    .profile_sel_tb .sel_tb1{
        font-size: 17px;
        position: relative;
        height: 100%;
        min-height: 60px;
        border-top: 2px solid #fe777c;
    }
    .profile_sel_tb .sel_tb2{
        font-size: 17px;
        position: relative;
        height: 100%;
        min-height: 60px;
        border-top: 2px solid #fe777c;
    }
    .profile_sel_tb .sel_tb3{
        font-size: 17px;
        position: relative;
        height: 100%;
        min-height: 60px;
        border-top: 2px solid #fe777c;
        border-bottom: 2px solid #fe777c;
    }
    .profile_sel_tb li p{
        margin-top: 17px;
        display: inline-block;
    }
    .ps_wrap{
        position: relative;
    }
    .ps_tit{
        margin-left: 20px;
        font-weight: bold;
        width: 100px;
        vertical-align: top;
    }
    .ps_sub{
        position: relative;
        color:blue;
        vertical-align: middle;
    }
    .tryang{
        display: inline-block;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
    .reflect{
        transform: scaleY(-1);
        transition:.3s; 
    }
    .sel_prob{
        margin-top: 10px;
        color: #000;
        display: none;
        margin-bottom: 20px;
    }
    .sel_prob li{
        position: relative;
        width: 100%;
        height: 100px;
        background: #f2f2f2;
        border-radius: 10px;
        border: 0;
        margin-top: 20px;
    }
    .pyo_tit{
        position: absolute;
        left: 15px;
        top: 10px;
    }
    .pyo_tit span{
        font-size: 15px;
    }
    .pyo_sub{
        text-align: right;
        position: absolute;
        right: 15px;
        bottom: 10px;
    }
    .pyo_sub span{
        font-size: 15px;
        
    }
    /*datepicer 버튼 롤오버 시 손가락 모양 표시*/
.ui-datepicker-trigger{cursor: pointer;}
/*datepicer input 롤오버 시 손가락 모양 표시*/
.hasDatepicker{cursor: pointer;}
input[type="text"].dp_box{
    width: 120px;
    height: 30px;
    display: inline-block;
    border:0;
    color:blue;
}
</style>
<!-- container -->
<section id="container_ac" class="counsel_profile">
	<div class="counsel_pro_wrap">
        <table class="profile_wrap" cellpadding="0" cellspacing="0">
            <tr>
                <td rowspan="3" class="profile_img_wrap"><div class="profile_img"></div></td>
                <td rowspan="3" width="30px"></td>
                <td>변혜원 상담사</td>
            </tr>
            <tr>
                <td>★★★★☆ 4.5 (70)</td>
            </tr>
            <tr>
                <td>올케어 상담 100회 진행</td>
            </tr>
        </table>
        <div class="profile_txt">
            <p class="pt_tit">"마음이 좀 더 편해지시도록 돕겠습니다."</p>
            <p class="pt_sub">-Ball State University 상담심리학 박사 수료</br>
                            -가트만 매소드 커플치료 트레이닝</br>
                            &nbsp;정서중심 커플 치료 Externship수료</br>
                            -전) 볼 주립대학교 상담센터 상담사 및 Ball Memorial Hospital 인턴
            </p>
        </div>
        <ul class="profile_sel_tb" cellpadding="0" cellspacing="0">
            <li class="sel_tb1">
                <div class="ps_wrap">
                    <p class="ps_tit">상품 선택</p>
                    <p class="ps_sub">전화상담 2주..</p>
                    <p class="tryang t_btn1">▼</p>
                </div>
                <ul class="pyo1 sel_prob">
                    <li>
                        <div class="pyo_tit">
                            전화상담 4주 프로그램</br><span>50분x4회</span>
                        </div>
                        <div class="pyo_sub">
                            26000원</br><span>(1회당 약 65000원)</span>
                        </div>
                    </li>
                    <li>
                        <div class="pyo_tit">
                            전화상담 4주 프로그램</br><span>50분x4회</span>
                        </div>
                        <div class="pyo_sub">
                            26000원</br><span>(1회당 약 65000원)</span>
                        </div>
                    </li>
                    <li>
                        <div class="pyo_tit">
                            전화상담 4주 프로그램</br><span>50분x4회</span>
                        </div>
                        <div class="pyo_sub">
                            26000원</br><span>(1회당 약 65000원)</span>
                        </div>
                    </li>
                    <li>
                        <div class="pyo_tit">
                            전화상담 4주 프로그램</br><span>50분x4회</span>
                        </div>
                        <div class="pyo_sub">
                            26000원</br><span>(1회당 약 65000원)</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="sel_tb2">
                <div class="ps_wrap">
                    <p class="ps_tit">날짜 선택</p>
                    <p class="ps_sub"><input type="text" id="datepicker" class="dp_box">부터 매주<input type="text" id="datepicker2" class="dp_box"></p>
                    <p class="tryang t_btn2">▼</p>
                </div>
            </li>
            <li class="sel_tb3">
                <div class="ps_wrap">
                    <p class="ps_tit">시간 선택</p>
                    <p class="ps_sub">오후 2:00</p>
                    <p class="tryang t_btn3">▼</p>
                </div>
            </li>
        </ul>
    </div>
    <script>
        $(function() {
            //모든 datepicker에 대한 공통 옵션 설정
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd' //Input Display Format 변경
                ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
                ,showMonthAfterYear:true //년도 먼저 나오고, 뒤에 월 표시
                ,changeYear: true //콤보박스에서 년 선택 가능
                ,changeMonth: true //콤보박스에서 월 선택 가능                
                ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
                ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
                ,buttonImageOnly: true //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
                ,buttonText: "선택" //버튼에 마우스 갖다 댔을 때 표시되는 텍스트                
                ,yearSuffix: "년" //달력의 년도 부분 뒤에 붙는 텍스트
                ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'] //달력의 월 부분 텍스트
                ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip 텍스트
                ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 부분 텍스트
                ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 부분 Tooltip 텍스트
                ,minDate: "-1M" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
                ,maxDate: "+1M" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)                    
            });
 
            //input을 datepicker로 선언
            $("#datepicker").datepicker();                    
            $("#datepicker2").datepicker();
            
            //From의 초기값을 오늘 날짜로 설정
            $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
            //To의 초기값을 내일로 설정
            $('#datepicker2').datepicker('setDate', '+7D'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
        });
    </script>

</section>

<!-- //container -->
<script>
    $(function() {
        $(".t_btn1").click(function () {
            $(".pyo1").toggle();
            $(".t_btn1").toggleClass("reflect");
        });
    });
    $(function() {
        $(".t_btn2").click(function () {
            $(".pyo2").toggle();
            $(".t_btn2").toggleClass("reflect");
        });
    });
    $(function() {
        $(".t_btn3").click(function () {
            $(".pyo3").toggle();
            $(".t_btn3").toggleClass("reflect");
        });
    });
</script>
