<div class="footer">
    <div class="foot_left_wrap">
        <table class="foot_l_top" cellpadding="0" cellspacing="0">
            <tr>
                <td><a href="#">서비스 이용안내</a></td>
                <td class="foot_l_line"><div class="w_line"></div></td>
                <td style="color: aqua;"><a href="#">개인정보처리방침</a></td>
                <td class="foot_l_line"><div class="w_line"></div></td>
                <td><a href="#">영상정보처리기기 운영·관리 방침</a></td>
                <td class="foot_l_line"><div class="w_line"></div></td>
                <td><a href="#">이메일무단수집거부</a></td>
                <td class="foot_l_line"><div class="w_line"></div></td>
                <td><a href="#">CONTACT US</a></td>
                <td class="foot_l_line"><div class="w_line"></div></td>
                <td><a href="#">RSS</a></td>
            </tr>
        </table>
        <div class="foot_l_txt">[13591] 경기도 성남시 분당구 분당로 47 (구, 서현동 267-2) TEL : 031)724-0114<br><span>Copyright 2009 TTA All Rights Reserved.</span></div>
    </div>
    <div class="foot_right_wrap">
        <table class="img_foot" cellpadding="0" cellspacing="0">
            <tr>
                <td width="300px"><div class="koreatong"></div></td>
                <td><div class="korearoad"></div></td>
            </tr>
        </table>
    </div>
</div>