<script src="../../assets/scripts/jqery-3.5.1.min.js"></script>
<script src="../../assets/scripts/common.js"></script>

<div class="header">
    <div class="container_top">
        <a href="main.html"><div class="m_s_top_txt">스마트 시티 표준 라이브러리</div></a>
        <div class="lang_sel_wrap">
            <div class="admin_btn"><a href="/smartcity/views/admin_login.html">ADMIN</a></div>
            <div class="lang_btn icon_b ic_english"></div>
            <div class="lang_txt">English</div>
            <div class="lang_sel icon_b ic_ggs_under">
                <ul>
                    <li><a href="#a">English</a></li>
                    <li><a href="#a">Korean</a></li>
                </ul>
            </div>
        </div>
        
    </div>

    <a href="/smartcity/views/main.html" class="m_top_txt">스마트 시티<br>표준 라이브러리</a>
    
    <div class="container">
        <nav>
            <ul>
                <li><a href="/smartcity/views/con_search.html">표준검색</a>
                  
                </li>
                <li><a href="/smartcity/views/nor_toolkit.html">표준 툴킷</a>
          
                </li>
                <li><a href="/smartcity/views/policy.html">정책</a>
              
                </li>
                <li id="rank_"><a href="#a">1. 스마트 모빌리티</a><div class="icon_b ic_tryang"></div>
                    <ul>
                        <li><a href="#a">1. 스마트 모빌리티</a></li>
                        <li><a href="#a">2. 스마트마트</a></li>
                        <li><a href="#a">3. 폴리에스테르</a></li>
                        <li><a href="#a">4. 파푸아뉴기니</a></li>
                        <li><a href="#a">5. 나이지리아</a></li>
                        <li><a href="#a">6. 모빌리티 스마트</a></li>
                        <li><a href="#a">7. 스마트 스마트트</a></li>
                        <li><a href="#a">8. 8번째 순위</a></li>
                        <li><a href="#a">9. 번</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="header2">
    <a href="/views/main.html" class="m_top_txt">스마트 시티<br>표준 라이브러리</a>
    <nav>       
        <div class="menu">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </div>
        <ul class="ham_ul">
            <li><a href="/smartcity/views/con_search.html">표준검색</a></li>
            <li><a href="/smartcity/views/nor_toolkit.html">표준툴킷</a></li>
            <li><a href="/smartcity/views/policy.html">정책</a></li>
        </ul>
    </nav>
</div>
<script>
    var app = {
    datas : {
        check : 0
    },
    init:function(){
        app.set();
        app.eventListener();
    },
    set:function(){
        app.hamburger = $(".hamburger");
        app.ul = $("nav ul");
    },
    eventListener:function(){
        $(".menu").on("click",function(){
            if(app.datas.check == 0){
                $(".ham_ul").css({"display":"inherit"});
                app.ul.css({"right":"0"});
                $(this).css({"background-color":"#fff"})
                app.hamburger.eq(0).css({"transform":"rotate(60deg)","top":"45%","width":"20px","margin-left":"-10px","background-color":"#08164B"});    
                app.hamburger.eq(1).css({"transform":"scale(0,0)"});    
                app.hamburger.eq(2).css({"transform":"rotate(120deg)","top":"45%","width":"20px","margin-left":"-10px","background-color":"#08164B"});
                
                app.datas.check = 1;
            }else{
                app.ul.css({"right":"-100%"});
                $(".ham_ul").css({"display":"none"});
                $(this).css({"margin-left":"0px"});
                $(this).attr({"style": ""});
                app.hamburger.attr({"style" : ""});
                app.datas.check = 0;
            }
            
        });
    }
}
app.init();
</script>
