body{

    font-size: 15px;

    font-family: 'Noto Sans KR', sans-serif;

    color: #222;

    max-width: 100%;

}

* {

    margin: 0;

    padding: 0;

    word-break: keep-all;

}



div{

    box-sizing: border-box;

}



h1,

h2,

h3,

h4,

h5,

h6 {

    margin: 0;

    padding: 0;

    color: inherit;

    font-family: inherit;

    font-weight: 500;

}



h2{

    font-size: 22px;

}



h3{

    font-size: 18px;

}



h4{

    font-size: 15px;

}



p{

    font-family: inherit;

    color: inherit;   

    font-size: inherit;

}



div{

    box-sizing: border-box;

}



ul,

li {

    margin: 0;

    padding: 0;

    list-style: none;

    box-sizing: border-box;

}



a{

    outline: none;

    text-decoration: none;

    font-family: inherit;

    color: inherit;

    font-family: inherit;

    box-sizing: border-box;

    text-align: center;

}



/* form */



form{



}



fieldset{

    border: none;

}



button,

input {
/*
    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;
*/
    background: none;

    border: 0;

    cursor: pointer;

    outline: none;

    font-family: inherit;

    box-sizing: border-box;

    font-size: inherit;

    font-family: inherit;

    box-sizing: border-box;

    border-radius:0;

    box-shadow: none;

}



input{

    border-bottom:1px solid #eee;

}



input::placeholder{

    color:#999;

    font-weight: 400;

}
.scroll::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(240, 240, 240);
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #08164B;
    
}
.hide{
    display: none;
}
.reflect{
    transform: scaleX(-1);
}
.reflect_u{
    transform:scaleY(-1);
    transition:.3s; 
}
.tryang_show{
    transition:.3s; 
}
.disabled{
    pointer-events: none;
    opacity: .5;
    background: #ccc;
}
/*---------------에러팝업------------------*/
/*팝업 모달 부분*/
.pp_wrap{
    z-index: 999;
    display: none;
    background: rgba(196, 196, 196, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /*숨기기*/
}
.pp_wrap2{
    z-index: 999;
    display: none;
    background: rgba(196, 196, 196, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    /*숨기기*/
}
.popup_box_er{
    position: absolute;
    background: #fff;
    width: 320px;
    height: 280px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup_circle {
    position: fixed;
    width: 130px;
    height: 130px;
    left: 50%;
    top: -65px;
    transform:translateX(-50%);
    text-align: center;
    line-height: 130px;
    background: #08164B;
    color: #fff;
    border-radius: 50%;
    font-size: 65px;
    
}
.error_bottom_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 16px;
    z-index: 8;
}
.error_txt{
    color:  #08164B;
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 550;
}
.error_txt span{
    display: inline-block;
    font-size: 16px;
    color: #9b8c8c;
    padding-top: 15px;
}
.popup_bot{
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    left: 11px;
    bottom: 5px;
    color: #08164B;
    font-weight: 500;
}
.btn_wrap{
    margin: 20px 0;
    clear: both;

}
.close_btn_solid{
    border-radius: 8px;
    background: #08164B;
    color: #fff;
    padding: 12px 120px;
    
}  
.close_btn_solid2{
    border-radius: 8px;
    background: #08164B;
    color: #fff;
    padding: 12px 120px;
    
}



/*---------------헤더------------------*/
.m_logo{
    position: absolute;
    left: 10px;
    top: 40px;
    width: 65px;
    height: 65px;
    background: #2c3e50;
    cursor:pointer; 
    line-height: 65px;
    z-index: 999;
    color: #fff;
}
.m_top_txt{
    position: absolute;
    cursor:pointer; 
    line-height: 27px;
    left: 60px;
    padding-top: 35px;
    z-index: 999;
    font-size: 20px;
    color: #08164B;
    font-weight: bold;

}
.m_s_top_txt{
    position: absolute;
    cursor:pointer; 
    line-height: 32px;
    left: 10px;
    font-size: 12px;
    color: #08164B;
    font-weight: bold;
    display: none;
}
.lang_sel_wrap{
    position: absolute;
    right: 85px;
    top:4px
}
.admin_btn{
    display: inline-block;
    margin-right: 40px;
    height: 25px;
    width: 60px;
    line-height: 25px;
    padding-left: 9.5px;
    font-size: 13px;
    color: #fff;
    border-radius: 5px;
    background: #08164B;
}
.lang_btn{
    display: inline-block;
}
.lang_txt{
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.lang_sel{
    display: inline-block;
    cursor: pointer;
    margin-left: 3px;
}
.lang_sel > ul {
    position: absolute; 
    width:100%; 
    height:0; 
    right: -58px;
    top: 40px;
    transition:.3s; 
    opacity: 0;  
    text-align: center; 
}
.lang_sel > ul > li{
    height: 20px;
    font-size: 12px;
}
.lang_sel > ul > li:hover{
    color: #888;
}
.lang_sel:hover> ul{
    opacity: 1; 
    height:40px;
}
.container{
    position: absolute;
    width: 100%;
    right: 0;
}
#rank_{
    position: absolute;
    width: 220px;
    border-radius: 20px;
    right: -400px;
    height: 40px;
    top: 20px;
    background: #08164B;
    color: #fff;
    padding-left: 10px;
    font-size: 15px;
    line-height: 40px;
}
.ic_tryang{
    margin-left: 20px;
}
.header{
    width: 100%; 
    height:160px; 
    line-height: 0px; 
    position: relative; 
    left:0; 
    top:0; 
    z-index: 998;
    background-color: #fff; 
    border-bottom: 2px solid #999999;
}
.header nav{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 700px;
}
.header nav > ul > li{
    float:left; 
    width: 130px; 
    text-align: center; 
    color:#08164B; 
    cursor:pointer;  
    position: relative; 
    height:90px; 
    line-height: 83px;
    font-size: 18px;
    margin-left: 80px; 
    font-weight:bold;
}
.header nav > ul > li > ul {
    position: absolute; 
    width:100%; 
    height:10px; 
    left:50%;
    transform: translateX(-50%); 
    transition:.3s; 
    opacity: 0;  
    text-align: center;
    border-radius: 15px 0 15px 0;
    overflow:hidden; margin-top:4px;}
.header nav > ul > li:hover{
    background-color: #fff;
    color:#1438bb; 
}
.header nav > ul > li:hover > ul{ 
    opacity: 1; 
    height:270px;
}
.header nav > ul > li > ul > li{
    height:30px; 
    line-height: 30px; 
    background-color:#1438bb; 
    color:#fff; 
    transition:.3s; 
    font-weight:normal;}
.header nav > ul > li > ul > li:hover{
    background-color: #2c3e50; 
    color:#fff;
}

.header2{
    display: none;
}
@media (max-width: 1270px){
    .m_top_txt{
        display: none;
    }
    .m_s_top_txt{
        display: inherit;
    }
}
@media (max-width: 700px){/*-------햄버거메뉴 생성--------*/
    .header {
        display: none;
    }
    .m_top_txt{
        display: inherit;
        line-height: 27px;
        left: 30px;
        color: #fff;
        padding-top: 15px;
    }
    .header2{
        z-index: 998;
        display:inherit;
        width: 100%; 
        height:90px; 
        line-height: 0px; 
        position: relative; 
        left:0; 
        top:0; 
        background-color: #08164B; 
        border-bottom: 1px solid #fff;

    }
    .menu{
        top: 18px;
        right: 20px;
        width: 50px; 
        height:50px; 
        border-radius: 50%; 
        background-color: #1438bb; 
        cursor:pointer; 
        position: absolute; 
        transition:.3s;
        
    }
    .hamburger{
        width: 30px; 
        height:3px; 
        background-color: #fff; 
        display: block;
        transition:0.3s; 
        position: absolute; 
        left:50%; 
        top:45%; 
        margin-left:-15px;
        
    }
    .hamburger:nth-child(1){
        top:12px;
    }
    .hamburger:nth-child(3){
        top:34px;
    }
    .header2 > nav > ul{
        position: absolute; 
        right:-100%; 
        display: none;
        transition:.5s;
        top: 68px;
        
    }
    .header2 > nav > ul > li{
        width: 100px; 
        height:50px;  
        text-align: center; 
        line-height: 50px; 
        background-color: #1438bb;
        color: #fff;
    }
    .header2 > nav > ul > li:hover{
        background-color: #2c3e50; 
        color:#fff;
    }
}
.container_top{
    width: 100%;
    height: 35px;
    background: #ececec;
}

/*---------------사이드------------------*/
.side_wrap{
    z-index: 997;
    width: 250px;
    height: 100%;
    left: 0;
    position: absolute;
    color: #fff;
    background: #08164B;
    text-align: center;
}
.side_txt{
    font-weight: 400;
    margin-top: 40px;
    font-size: 20px;
}
.side_line{
    width: 190px;
    height: 2px;
    display: inline-block;
    background: #fff;
    margin-top: 40px;
}
.sd_menu_tap_wrap{
    position: absolute;
    margin-top: 30px;
    width: 180px;
    right: 0;
}
.t_tr{
    height: 40px;
}
.sd_m_rec_u{
    width: 40px;
    height: 40px;
    background:#08164B;
    border-radius: 0px 0px 30px 0px;
}
.sd_m_rec_d{
    width: 40px;
    height: 40px;
    background: #08164B;
    border-radius: 0 30px 0 0;
}
.side_tap{
    background: #fff;
    width: 140px;
    height: 60px;
    color: #08164B;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
}
.side_tap_ic{
    background: #fff;
    width: 140px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    border-radius: 15px 0px 0px 15px;
}
.side_tap2{
    background: #08164B;
    width: 140px;
    height: 60px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
}
.side_tap_ic2{
    background: #08164B;
    width: 140px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    border-radius: 15px 0px 0px 15px;
}
.side_tap_txt{
    font-size: 16px;
}
.sd_m_rec_b{
    background: #fff;
}
.sd_ic{
    margin-left: 5px;
}

/*---------------풋터------------------*/
.footer_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer {
    width: 100%;
    height: 200px;
    position: relative;
    background: #1E243F;
    color: #fff;
}

.foot_left_wrap{
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: 14px;
}
.foot_l_top{
    text-align: center;
}
.foot_l_top tr td{
    
    height: 30px;
    max-width: 100%;
}
.foot_l_line{
    width: 20px;
    height: 100%;
}
.w_line{
    width: 2px;
    background: #fff;
    height: 14px;
    margin-left: 10px;
    margin-top: 2px;
}
.foot_l_txt{
    margin-top: 10px;
    font-weight: 300;
}


.foot_right_wrap{
    position: absolute;
    top: 55px;
    right: 100px;
}

.koreatong{
    background: url(../images/common/koreatong.png)no-repeat;
    width: 220px;
    height: 53px;
}
.korearoad{
    background: url(../images/common/korearoad.png)no-repeat;
    width: 150px;
    height: 46px;
}